junit.xml
.coverage
coverage.xml
html.cov
*.pyc
_test-cache
__pycache__
.mypy_cache
.canary_cache
src/*.egg-info/
src/hpc_connect/version.py

docs/build

.pre-commit.log
.DS_Store

*.orig

# spack develop build artifacts
build/
build-linux*


venv
dist
bin/deploy.sh
